.todo-card {
    display: flex;
    justify-content: space-between;
    border: 2px black solid;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.todo-card__complete {
    text-decoration-line: line-through;
}